{% extends "file_manage/base.html" %}
{% block css %}
    <link href="/static/file_manage/css/video-js.css" rel="stylesheet">
    <style>
        .my_active{
            background-color: skyblue; 
        }
    </style>
{% endblock css %}  
{% block component %}
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        ViewMode <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <li><a class="view_mode">List</a></li>
        <li><a class="view_mode">Box</a></li>
        </ul>
    </li>
{% endblock component %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div id="modale_back" style="top: 0%;left: 0%;width: 100%;height: 100%;background-color:black;position:fixed;opacity: .95;z-index:1001;display:none;">
    <div id="progressbar" style="width:400px;top: 35%;left: 40%;position:absolute;display:none;"></div>
    <div id='video_box' style="top: 30%;left: 35%;position:absolute;display:none;">
        <span class="video_close_button"><span class="glyphicon glyphicon-remove"></span>关闭</span>
        <video id="my_video_1" class="video-js vjs-default-skin" controls  width="640" height="268" >
            <source src=""  type='video/mp4'>
        </video>
    </div>
    <div id="image_box" style="top: 20%;left: 28%;position:absolute;display:none;">
        <span class="video_close_button" style="position:absolute;top: -3%;right: -5%;"><span class="glyphicon glyphicon-remove"></span>关闭</span>
        <img  alt="" width="800" height="600">
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">ReName</h4>
            </div>
            <div class="modal-body">
                <form id="renama_form">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">FileName:</label>
                        <input type="text" class="form-control" id="recipient-name" name="new_file_name">
                        <input type="text" name="old_file_path" style="display:none;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_rename">Enter</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="file_path_choices" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">ChoicesFilePath</h4>
            </div>
            <div id="move_jstree">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit_mv_dir">Enter</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="can_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">delete?</h4>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary delete_file">Enter</button>
            </div>
        </div>
    </div>
</div>


<!-- this is mouse rbutton -->
<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1" href="#" operator="top" href="#" operator="top" >Rename</a></li>
    </ul>
</div>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-md-3" style="position:relative;overflow:auto;height:800px;top:10px;">
                <div id="jstree">
                </div>
            </div>
            <div class="col-md-9">
                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-success add_file"><span class="glyphicon glyphicon-plus"></span>Add</button>
                        <input type="file" name="add_new_file" multiple style="display:none;">
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-new-window"></span>Move</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning select_all_button"><span class="glyphicon glyphicon-ok"></span>SelectAll</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary unselect_all_button"><span class="glyphicon glyphicon-ban-circle"></span>UnselectAll</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger delete_button"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </div>
                    
                </div>
                <ul class="list-group" id="file_list" style="display:none;">
                
                </ul>
                <div class="row" id="file_box" style="display:none;">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/file_manage/js/video.js"></script>
<script src="/static/file_manage/js/videojs-contrib-hls.js"></script>
<script src="/static/file_manage/js/file_manage.js"></script>
{% endblock %}